{% extends 'base.html.twig' %}

{% block body %}
    <h1>Albums list — {{ albums.getTotalItemCount }} albums</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for album in albums %}
            <tr>
                <td><a href="{{ path('album_show', { 'id': album.id }) }}">{{ album.id }}</a></td>
                <td>{{ album.title }}</td>
                <td>{{ album.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('image_index', { 'album_id': album.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('album_edit', { 'id': album.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(albums) }}
    </div>

    <ul>
        <li>
            <a href="{{ path('album_new') }}">Create a new album</a>
        </li>
        <li>
            <a href="/image">View the list of images</a>
        </li>
    </ul>
{% endblock %}
