{% extends 'base.html.twig' %}

{% block body %}
    <h1>Symfony 2.8 test</h1>
    <p><a class="btn btn-lg btn-general" href="/image" role="button">Manage images</a></p>
    <p><a class="btn btn-lg btn-success" href="/album" role="button">Manage albums</a></p>
{% endblock %}
