{% extends 'base.html.twig' %}

{% block body %}
    <h1>Image edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="form-group">
            <label class="control-label">Current image</label>
            <div class="thumbnail">
                <img src="{{ image.filename | fieldnames }}">
            </div>
        </div>

        <p><button type="submit" class="btn btn-success">Edit</button></p>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('image_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
