{% extends 'base.html.twig' %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.min.js"></script>
{% endblock %}
{% block body %}
    <h1>Images list — {{ images.getTotalItemCount }} images</h1>

    <div class="row">
        <div class="col-md-6">
        <ul>
            <li>
                <a href="{{ path('image_new') }}">Create a new image</a>
            </li>
            <li>
                <a href="/album">View the list of albums</a>
            </li>
        </ul>
        </div>
        <div class="col-md-6 navigation">
            {{ knp_pagination_render(images) }}
        </div>
    </div>
    <div class="row grid" data-masonry='{ "itemSelector": ".item" }'>
        {% for image in images %}
        <div class="col-md-3 item">
            <div class="thumbnail">
                <a href="{{ path('image_show', { 'id': image.id }) }}">
                    <img src="{{ image.filename | fieldnames }}">
                </a>
                <div class="caption">
                    <h3>{{ image.title }}</h3>
                    <p>{{ image.album.title }}</p>
                    <p>{{ image.description }}</p>
                    <p><a href="{{ path('image_edit', { 'id': image.id }) }}">edit</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
