{% extends 'base.html.twig' %}

{% block body %}
    <h1>Image creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <p><button type="submit" class="btn btn-success">Create</button></p>
    {{ form_end(form) }}

    <p><a href="{{ path('image_index') }}">
        <button class="btn btn-default">
            Back to the list
        </button>
    </a></p>
{% endblock %}
